<h2>Navigation</h2>
<ul>
                <li><a href="https://github.com/Patti4832">Github</a></li>
                <br>
                <li><a href="./Mikrocontroller/">Mikrocontroller</a>
                <ol>
                    <li><a href="./Mikrocontroller/#arduino">Arduino</a></li>
                    <li><a href="./Mikrocontroller/#attiny13a">ATTiny13a</a></li>
                    <li><a href="./Mikrocontroller/#atmega16820pu">ATMega168-20PU</a></li>
                </ol>
                </li>
                <br>
                <li><a href="./Webseiten/">Webseiten</a>
                <ol>
                    <li><a href="./Webseiten/#html">HTML</a></li>
                    <li><a href="./Webseiten/#css">CSS</a></li>
                    <li><a href="./Webseiten/#js">JavaScript</a></li>
                </ol>
            </li>
            <br>
            <li><a href="./Anwendungen/">Anwendungen</a>
            <ol>
                <li><a href="./Anwendungen/#cpp">C/C++</a></li>
                <li><a href="./Anwendungen/#csharp">C# (.NET)</a></li>
            </ol>
            </li>
            <br>
            <li><a href="./Hausautomation/">Hausautomation</a></li>
        </ul>